@media (max-width: 848px) 
/* only screen and  */
{
 .grid 
 {
  text-align: center
 }
}

@media (max-width: 608px)
{
	details
	{
		border-radius: 0px;
		max-width: 100%;
	}

  .card-first
	{
		padding: 10px;
		margin: -140px auto 20px auto;
		width: 90%;
	}

	.card-next
	{
		padding: 10px;
		width: 90%;
	}

  .file-managers, .mint-folders, .steam-games
	{
		width: 100%;
	}

  .long-list, .very-long-list
	{
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}

  .title
	{
		padding-right: 2em;
		text-align: left;
	}

	#mainMenu 
	{
		border-top: 4px solid transparent;
	  border-image: var(--css-tricks-top);
	  border-image-slice: 1;
		display: none;
		overflow: hidden; /* wrap floats and margins */
		padding: 0.25em;
	}

	#mainMenu li 
	{
		float: left;
		width: 50%;
		padding: 0px;
	}

	#mainMenu ul 
	{
	  list-style: none;
	}

	#mainMenu a 
	{
		display: block;
		margin: 0.25em;
		padding: 0.75em;
	}

	#menuShowHide+label 
	{
		background: var(--fitdance);
		color: var(--papirus-light);
		display: block;
		font-weight: 700;
		margin-bottom: 1em;
		padding: 1em;
		text-align: center;
	}

	#menuShowHide+label:active,
	#menuShowHide+label:focus,
	#menuShowHide+label:hover 
	{
		background: var(--css-tricks-top);
	}

	#menuShowHide+label:before 
	{
		content:"Show menu";
	}

	#menuShowHide:checked + label 
	{
		margin: 0;
	}

	#menuShowHide:checked + label:before 
	{
		content: "Hide Menu";
	}

	#menuShowHide:checked ~ #mainMenu 
	{
		display: block;
	}
}

@media (max-width: 568px)
 /* screen and  */
{
  table 
	{
    display: block;
  }

  table > *, table tr, table td, table th 
	{
    display: block;
  }

  table thead 
	{
    display: none;
  }

  table tbody tr 
	{
    height: auto;
    padding: 8px 0;
  }

  table tbody tr td 
	{
    margin-bottom: 12px;
    padding-left: 45%;
  }

  table tbody tr td:last-child 
	{
    margin-bottom: 0;
  }

  table tbody tr td:before 
	{
    font-weight: 700;
    left: 10px;
    position: absolute;
    top: 0;
    width: 40%;
  }

  table tbody tr td:nth-child(1):before 
	{
    content: "Code";
  }

  table tbody tr td:nth-child(2):before 
	{
    content: "Blur";
  }

  table tbody tr td:nth-child(3):before 
	{
    content: "Drop shadow";
  }

  table tbody tr td:nth-child(4):before 
	{
    content: "Inner shadow";
  }

  table tbody tr td:nth-child(5):before 
	{
    content: "Box Type";
  }
}

@media (max-width: 440px) 
{
  /* only screen and */
 .grid 
 {
  text-align: center
 }

 .grid li 
 {
  background: transparent;
  border-radius: 0;
	border: none;
  box-shadow: none;
  height: 345px;
  margin: 12px 0;
  max-width: 345px;
  padding-left: 0;
  padding-right: 0;
  width: 100%
 }

 .grid li:after 
 {
  border: none;
  color: var(--papirus-dark);
  content:"◆";
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 64px;
  width: 100%;
 }

 .grid li:last-child:after 
 {
  content:""
 }

 .grid li:focus, ul.grid li:hover 
 {
  box-shadow: none;
  background: transparent
 }
}

@media (max-width: 288px) 
{
	#mainMenu li 
	{
		float: none;
		width: auto;
	}
}
