/* null margins and padding to give good cross-browser baseline */
body, caption, div, fieldset, form, caption, hr, html, img, li, ol, svg, table, td, th, tr
{
	margin: 0px;
	padding: 0px;
}

@media (max-width: 512px) 
{
	* 
	{
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}

a
{
	color: #00acbc;
	font-weight: 800;
	text-decoration: none;
}

a:hover
{
	background-image: linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
	font-weight: 800;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

b 
{
	font-weight: 700;
}

body 
{
	background: #eeffee;
	font: normal 100%/150% Overpass, sans-serif;
}

fieldset, img 
{
	border: none;
}

h1, h2, h3, h4, h5, h6, p, ul
{
	margin: 0px;
	padding: 16px 24px;
}

li
{
	list-style-position: inside;
}

p 
{
	font-size: 16px;
	font-weight: 300;
	hyphens: auto;
	text-align: justify;
}

.container 
{
  display: grid;
  grid-template-columns: repeat(15, 120px);
  max-width: 100%;
  width: auto;
}

.container2 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
}

.container3 
{
	background: #526060;
	border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
	margin-left: 24px;
	margin-right: 24px;
}

.container4 
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 120px);
}

.palette 
{
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  width: 40px;
}

.title
{
	background: linear-gradient(to bottom, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
	font: bold 150%/70%;
	text-align: left;
	padding: 0.5em;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_back
{
	background: linear-gradient(#49535E, #2F3943);
}

#top 
{
	background: #FFF;
	margin: 0 auto;
}

#footer 
{
	padding: 1em;
}

#menuShowHide 
{
	left: -999em;
	position: absolute;
}

#mainMenu 
{
	background: linear-gradient(#49535E, #2F3943);
	border-bottom: 4px solid transparent;
  -moz-border-image: -moz-linear-gradient(to right, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
  -webkit-border-image: -webkit-linear-gradient(to right, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
  border-image:  linear-gradient(to right, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
  border-image-slice: 1;
	list-style: none;
	margin-bottom: 1em;
	padding: 0.25em 0;
	text-align: center;
}

#mainMenu li 
{
	display: inline;
	padding: 0px;
}

#mainMenu a 
{
	color: #efefef;
	display: inline-block;
	font-style: normal;
	font-weight: 900;
	padding: 0.25em 1em;
	text-decoration: none;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover 
{
	background-image: linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 38em) 
{
	.title
	{
		padding-right: 2em;
		text-align: left;
	}

	#mainMenu 
	{
		border-top: 4px solid transparent;
	  -moz-border-image: -moz-linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
	  -webkit-border-image: -webkit-linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
	  border-image: linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
	  border-image-slice: 1;
		display: none;
		overflow: hidden; /* wrap floats and margins */
		padding: 0.25em;
	}

	#mainMenu li 
	{
		float: left;
		width: 50%;
		padding: 0px;
	}

	#mainMenu a 
	{
		display: block;
		margin: 0.25em;
		padding: 0.75em;
	}

	#menuShowHide+label 
	{
		background: linear-gradient(179.86deg, #1AD6AB 0.08%, #329DB6 100.2%);
		color: #efefef;
		display: block;
		font-weight: bold;
		margin-bottom: 1em;
		padding: 1em;
		text-align: center;
	}

	#menuShowHide+label:active,
	#menuShowHide+label:focus,
	#menuShowHide+label:hover 
	{
		background: linear-gradient(0deg, #FF0056 0%, #FF0C4E 10%, #FF1845 20%, #FF243D 30%, #FF3034 40%, #FF3C2B 50%, #FF4823 60%, #FF541A 70%, #FF6012 80%, #FF6C09 90%, #FF7901 100%);
	}

	#menuShowHide+label:before 
	{
		content:"Show menu";
	}

	#menuShowHide:checked + label 
	{
		margin: 0;
	}
	#menuShowHide:checked + label:before 
	{
		content: "Hide Menu";
	}
	#menuShowHide:checked ~ #mainMenu 
	{
		display: block;
	}
}

@media (max-width: 18em) 
{
	#mainMenu li 
	{
		float: none;
		width: auto;
	}
}